:root {
    --main-bg-color: #fff;
    --text-color: #242A32;
    --primary: #FFE02F;
    --secondary: #FF8700;
    --dark-secondary: #FFC144;
    --tertiary-color: #eaeaea5c;
    --quaternary-color: #3A3F47;
    --acent: #0296E5;
    --shade: #000000;
}