<section id="auth_page">
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Create Access</h1>
                <span>Register with E-mail</span>
                <input type="email" placeholder="Enter your E-mail">
                <input type="text" placeholder="Enter your Name">
                <input type="password" placeholder="Enter your Password">
                <button id="registerBtn">Register</button>
            </form>
        </div>

        <div class="form-container sign-in">
            <form>
                <h1>Sign In</h1>
                <span>Login with E-mail</span>
                <input type="email" placeholder="Enter your E-mail">
                <input type="password" placeholder="Enter your Password">
                <button id="loginBtn">Sign In</button>
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome to <br> Code with me</h1>
                    <p>Sign in with E-mail</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>

                <div class="toggle-panel toggle-right">
                    <h1>Hi there</h1>
                    <p>Register with E-mail</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>

    </div>
</section>

<script src="/js/auth_page.js"></script>
