<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/enum.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/partials.css">
  <link rel="stylesheet" type="text/css" href="/css/auth_page.css">
  <title>{{title}}</title>
</head>

<body>

  {{{body}}}

</body>

</html>