<footer>
  <div class="footer-container">
    <p>&copy; 2024 Admin Dashboard</p>
    <div class="footer-links">
      <a href="#">About</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
    </div>
    <div class="footer-socials">
      <a href="#"><img src="/assets/facebook.svg" alt="Facebook"></a>
      <a href="#"><img src="/assets/twitter.svg" alt="Twitter"></a>
      <a href="#"><img src="/assets/linkedin.svg" alt="LinkedIn"></a>
    </div>
  </div>
</footer>
